
body{
    margin:0;
    padding:0;
    overflow-x:hidden;
    background: rgb(20,20,28);
}

@font-face{
    font-family: 'Aeronauts';
    src: url('../font/Aeronauts.ttf');
}

* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

/*.paralax.container{
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    perspective: 1px;
    perspective-origin: top left;
}

.paralax.background{
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;

    transform:translateZ(-1px);
}*/

#background_video {
    position: absolute;
    right: 0;
    top: 0;
    min-width: 100%; 
    min-height: 100%;

    z-index: -1;
}

article{
    margin:0px;
}

article.poster{
    width:100vw;
    height:100vh;

    display:flex;
    justify-content: center;	
    align-content: flex-end;
    align-items:flex-end;
    flex-wrap: wrap;
}
article.poster .cover_image{
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;

    z-index: -2;

    background-image:url('../img/City0.png');
    background-size: cover;
    background-position-x: center;
}
article.poster footer{
    width:100%;
    color:white;
    background:black;

    padding:40px;
    text-align: center;
    margin-top:20px;
}
article.poster footer img{
    display:inline-block;
    width:32px;
    margin:0 10px;
    height:auto;
}
article.poster button{
    color:black;
    background:white;
    border:0px;
    margin:10px 20px;
    padding:20px 40px;

    text-transform: uppercase;
}
article.poster button:focus {outline:0;}

.poster .content{
    position: absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;

    text-align: center;
}

article.info {
    width:100vw;
    margin:0px;

    display:flex;
    flex-direction: column;

    align-content: center;
    align-items: center;
    justify-content: center;
    
    color:white;

    text-align: center;
    overflow:hidden;

    min-height:100px;
    padding:0 20px;
}
article section{
    max-width:1024px;
    width:100%;
}

article section.split{
    display:grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 20px;
}
article section.split div{
    background:green;
}

h1{
    font-family: 'Aeronauts';
    font-size:50px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h1.title{
    text-align: center;
    font-family: 'Aeronauts'; 
    font-size:120px;
    color:white;
    text-shadow: 0px 10px 0px #db5945;
}

.img{
    background:rgb(39, 20, 20);
}

.background_space{
    background: url("../img/background0.png");
    background-size:cover;
}

.background_city{
    background: url("../img/background1.png");
    background-size:cover;
    background-position: 100%;
}
.background_dark{
    background:black;
}
.background_red{
    background: #db5945
}
.background_green{
    background:#889E4F
}
.background_blue{
    background:#448F88
}

footer{
    color:#999;
    font-weight: lighter;
    font-size:12px;
    text-align: center;
    padding:20px;
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size:30px;
    }
    h1.title {
        font-size:60px;
    }
}